*.exe
*.obj
*.pdb
*.PDB
*.ilk
*.pch
*.idb
*.dat
*.out
*.fig
*.asv
*.png
*.JPG
*.jpg
*.mat
*.mod
*.doc
*.pdf
*.txt
*.cfg
*.dof
*.dpr
*.res
*.dsp
*.dsw
*.opt
*.ncb
*.plg
*.~ddp
*.~dfm
*.~pas
*.dll
*.frm
*.vbp
*.vbw
*.SCC